.list__body
  overflow: visible
//Establecemos el espacio entre el formulario y los titulos con margin-top
#principal__form
  margin-top: 30px

//Estilo de las cajas de input, esto también incluye el select
.principal__input
  border-radius: 30px 0px 0px 30px
  height: 40px
  width: 50%  
  background-color: var(--search-color)
  font-family: $font-text
  font-size: $size-text

//Le damos estilo y espaciado a nuestro placeholder
#principal__name
  text-indent: 15px
  color: var(--text-color)

//Estilo del boton del primer submit
#principal__name--submit
  background-color: var(--secondary-color)
  border-radius: 0px 30px 30px 0px
  height: 40px
  width: 50px  
  cursor: url('../../img/veemon-re.gif'), pointer

//Estilo del segundo input, esto nos permite que esté debajo y algo separado del primero
#principal__level 
  display: block
  margin-top: 10px
  padding-left: 10px

//Estilo del boton del 2º submit, hay que colocarle el margen para que se alinee con la caja del select
#principal__level--submit
  background-color: var(--secondary-color)
  border-radius: 0px 30px 30px 0px
  height: 40px
  width: 50px
  margin-top:10px
  cursor: url('../../img/veemon-re.gif'), pointer

//Estas agrupaciónes nos permiten centrar los inputs con sus botones y quitar bordes no deseados
fieldset
  display: flex
  align-items: center
  justify-content: center
  border: 0px

//Como en _reset hemos reseteado los bordes, por alguna razon por defecto nos coloca el color principal,
//de esta manera lo quitamos
span 
  background-color: transparent
  
option
  background-color: transparent

.list__main
  display: flex 
  position: relative
  align-items: center
  justify-content: center
  flex-direction: column
  

#list
  width: 100%
  text-align: center 

.list__sort
  margin-right: 10px

.sortingLabels
  color: var(--secondary-color)
  text-shadow: 1px 1px black
  font-family: $font-text
  font-size: $size-text
  margin-right: 5px

  
.list__input
  border-radius: 30px 0px 0px 30px
  height: 40px
  width: 40%  
  background-color: var(--search-color)
  font-family: $font-text
  font-size: $size-text

#list__name
  text-indent: 15px
  color: var(--text-color)

#list__name--submit
  background-color: var(--secondary-color)
  border-radius: 0px 30px 30px 0px
  height: 40px
  width: 50px  
  cursor: pointer

#list__level 
  display: block
  margin-top: 10px
  padding-left: 10px

#list__level--submit
  background-color: var(--secondary-color)
  border-radius: 0px 30px 30px 0px
  height: 40px
  width: 50px
  margin-top:10px
  cursor: pointer
  
#list__save 
  margin-top: 10px
  margin-left: 10px  
  width: 70%
  border: 1px solid

#list__all 
  margin-top: 10px
  margin-left: 10px  
  width: 150px

.error__title
  color: var(--secondary-color)
  text-shadow: 1px 1px black
  font-family: $font-title
  font-size: $size-subtitle
  text-align: center
  width:100%

.error__subtitle
  display: block
  color: var(--secondary-color)  
  font-family: $font-title
  font-size: $size-text
  text-align: center
  margin-top: 10px
  margin-bottom: 10px

#digimon__meme
  display: flex 
  flex-direction: column
  justify-content: center
  align-items: center

#error__img--meme
  width: 200px
  height: 300px


#list__output
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap
  margin-top: 25px 
  overflow: scroll   
  @media only screen and (max-width: 800px)      
    display: block


#list__output::-webkit-scrollbar
  display: none 
  
.list__nav
  display: flex
  position: fixed
  justify-content: space-between
  width: 100%  
  bottom: 10px

#list__toMyList
  margin-left: 10px
  width: 150px
  // En este caso le damos al botón un borde para que destaque sobre los contenedores que quedan debajo
  border: 1px solid black
    
     

.list__back    
  width: 30px
  padding-right: 20px
  align-self:  flex-end

:disabled
  opacity: 50%