//Estilo para la pantalla de lista 
.list__body
  background-color: var(--primary-color)
  overflow: visible

.list__main
  display: flex 
  position: relative
  align-items: center
  justify-content: center
  flex-direction: column
  

#list
  width: 100%
  text-align: center 

.list__sort
  margin-right: 10px

.sortingLabels
  color: var(--secondary-color)
  text-shadow: 1px 1px black
  font-family: $font-text
  font-size: $size-text
  margin-right: 5px

  
.list__input
  border-radius: 30px 0px 0px 30px
  height: 40px
  width: 40%  
  background-color: var(--search-color)
  font-family: $font-text
  font-size: $size-text

#list__name
  text-indent: 15px
  color: var(--text-color)

#list__name--submit
  background-color: var(--secondary-color)
  border-radius: 0px 30px 30px 0px
  height: 40px
  width: 50px  
  cursor: pointer

#list__level 
  display: block
  margin-top: 10px
  padding-left: 10px

#list__level--submit
  background-color: var(--secondary-color)
  border-radius: 0px 30px 30px 0px
  height: 40px
  width: 50px
  margin-top:10px
  cursor: pointer
  
#list__save 
  margin-left: 10px
  max-width: 150px
  min-width: 150px

#list__all 
  margin-left: 10px
  max-width: 150px
  min-width: 150px

.error__title
  color: var(--secondary-color)
  text-shadow: 1px 1px black
  font-family: $font-title
  font-size: $size-subtitle
  text-align: center
  width:100%

.error__subtitle
  display: block
  color: var(--secondary-color)  
  font-family: $font-title
  font-size: $size-text
  text-align: center
  margin-top: 10px
  margin-bottom: 10px

#digimon__meme
  display: flex 
  flex-direction: column
  justify-content: center
  align-items: center

#error__img--meme
  width: 200px
  height: 300px


#list__output
  width: 100%
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap
  margin-top: 50px
  @media only screen and (max-width: 800px)      
    flex-direction: column
    

.list__output
  background-color: var(--secondary-color) 
  width: 30%
  margin-left: 10px
  margin-right: 10px
  margin-bottom: 10px
  display: flex
  flex-wrap: wrap
  @media only screen and (max-width: 800px)  
    width: 90%
    margin-bottom: 20px  


.list__output--img
  height: 200px  
  width: 200px  
  display: inline

.list__output--title
  color: var(--text-color)
  text-shadow: 1px 1px black
  font-family: $font-title
  font-size: $size-subtitle
  text-align: center
  width:100%

.list__output--subtitle
  display: block
  color: var(--text-color)  
  font-family: $font-title
  font-size: $size-text
  text-align: center
  margin-top: 40px
  margin-left: 100px

.img__container
  padding: 20px
  text-align: center

.emptyList__img
  width: 65%  

.list__nav
  display: flex
  position: fixed
  justify-content: space-between
  width: 100%  
  bottom: 10px

#list__toMyList
  margin-left: 10px
  width: 150px
  // En este caso le damos al botón un borde para que destaque sobre los contenedores que quedan debajo
  border: 1px solid black
    
     

.list__back    
  width: 30px
  padding-right: 20px
  align-self:  flex-end

:disabled
  opacity: 50%