//Estilo de la pantalla de datos de usuario
#user
    width: 50%
    padding: 20px
    @media only screen and (max-width: 800px)    
        width: 100%


.user__data
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    
.user__title
    color: var(--secondary-color)
    text-shadow: 1px 1px black
    font-family: $font-title
    font-size: $size-subtitle
    text-align: center


.user__subtitle
    color: var(--secondary-color)
    text-shadow: 1px 1px black
    font-family: $font-title
    font-size: 30px
    text-align: center
    margin-top: 20px

.user__text   
    color: var(--secondary-color)
    text-shadow: 1px 1px black
    font-family: $font-text
    font-size: $size-text
    text-align: center  
    margin-top: 10px  



